extends layout

block title

  title Pig@#{ title }

block content

    form#upload(action="upload", method="post", enctype="multipart/data").uploader

      fieldset

        input#max-file-size(type="hidden" name="max-file-size" value="100000")

        label(for="file-select") Files to upload:

        input#file-select(type="file" name="file-select[]" multiple="multiple")

        #file-drag.drop-zone
          p Drop files here

      fieldset
        button#btn-submit(type="submit") Upload

      img.ajax.hide(src='/static/img/ajax.gif', width='16', height='16', alt='Waiting...')
      .progress

    section#image-list.media-list
      h2 Images
      button.btn-refresh refresh
      img.ajax.hide(src='/static/img/ajax.gif', width='16', height='16', alt='Waiting...')
      ul

    section#video-list.media-list
      h2 Videos
      button.btn-refresh refresh
      img.ajax.hide(src='/static/img/ajax.gif', width='16', height='16', alt='Waiting...')
      ul

    section#audio-list.media-list
      h2 Audio
      button.btn-refresh refresh
      img.ajax.hide(src='/static/img/ajax.gif', width='16', height='16', alt='Waiting...')
      ul

