extends layout

block title

  title Pig

block content

    div#upload
      form(action="upload", method="post", enctype="multipart/data").uploader

        fieldset

          input#max-file-size(type="hidden" name="max-file-size" value="100000")

          label(for="file-select") Files to upload:

          input#file-select(type="file" name="file-select[]" multiple="multiple")

          #file-drag.drop-zone
            p Drop files here

        fieldset

          input#filter(type='text', placeholder='filter')

          button#btn-submit(type="submit") Upload

    #mount

    #horizon
