//- HTML 5
doctype html

//- Use the .oldie class to target IE < 9
//if lte IE 8
  <html class='no-js oldie' lang='en'>

//[if gt IE 8]<!
html.no-js(lang='en')
  //<![endif]
  head

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    block title

    meta(name='description', content= '')
    meta(name='author', content='Craig Dallimore')

    link(rel='shortcut icon', type='image/png', href='/static/img/favicon.png')

    //- CSS output from SASS / Grunt
    link(rel='stylesheet', href='/static/dist/app.css')

  body
    noscript
      p This site works better with JavaScript enabled.

    block content

    script(src='static/dist/app.min.js')

    script#tmpl-audio(type='text/template').
      <% if( typeof path !== 'undefined' ) { %>
        <button class="btn-remove">X</button>
        <a class="link" href="<%= path %>">&#x25BC; Download</a>
        <p class="name"><%= name %></p>
        <input class="hide" type="text" value="<%= name %>" />
      <% } else { %>
        <p><%= name %> uploading ... </p>
        <div class="progress"></div>
      <% } %>

    script#tmpl-image(type='text/template').
      <% if( typeof path !== 'undefined' ) { %>
        <button class="btn-remove">X</button>
        <img src="<%= path %>" width="120" alt="<%= name %>"/>
      <% } else { %>
        <p><%= name %> uploading ... </p>
        <div class="progress"></div>
      <% } %>

    script#tmpl-video(type='text/template').
      <% if( typeof path !== 'undefined' ) { %>
        <button class="btn-remove">X</button>
        <a class="link" href="<%= path %>">&#x25BC; Download</a>
        <p class="name"><%= name %></p>
        <input class="hide" type="text" value="<%= name %>" />
      <% } else { %>
        <p><%= name %> uploading ... </p>
        <div class="progress"></div>
      <% } %>

    script#tmpl-confirm(type='text/template').
      <div class="horizon">
        <div class="dialog zoomout">

          <h3><%= msg %>?</h3>
          <button class="btn-ok">OK</button>
          <button class="btn-cancel">Cancel</button>

        </div>
      </div>

//- KAIZEN
