.media-list {

  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  background: #eaeaea;
  float: left;
  width: 30%;
  margin: 20px 0 0 2.5%;
  padding: 10px;

  h2 {

    font-size: 2em;

  }

  button {

    float: right;

  }

  p {

    margin: 5px 0 0;
    color: grey;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);

  }

  ul {

    margin-top: 10px;

  }

  li {

    position: relative;
    border-top: 1px solid #dadada;
    padding: 10px 0;
    word-wrap: break-word;
    overflow: hidden;

  }

  a {

    color: darken(pink, 25%);

  }

  .link {

    float: right;
    font-size: 1.3em;
    margin: 2px 5px 0 0;

  }

  input {

    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0;
    padding: 5px;
    width: 75%;

  }

}

@media all and (max-width: $bp_1), all and (max-device-width: $bp_1) {

  .media-lists {

    margin: 0 20px;

  }

  .media-list {

    clear: left;
    width: 100%;
    margin: 20px 0 0;

  }

}
