@import "_mixins";

.ajax {
  margin: 0 auto;
  display: block;
  &.hide {
    display: none;
  }
}

.uploader {


}

.drop-zone {
  background: pink;
  color: #eee;
  display: none;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
  &:hover, &.hover{
    cursor: pointer;
    text-shadow: 0 1px 1px darken(pink, 25%);
    background: darken(pink, 10%);
  }
}

fieldset {
}

#upload {
  background: #eee;

}

#file-select {}

#file-drag {
}

#btn-submit {}
